.card {
  margin: 35px 10px 35px 10px;
  box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.3), 2px 2px 4px 2px rgba(0, 0, 0, 0.3);
  border-radius: 15px !important;

  h5 {
    font-family: $fontFamilyBody, 'Times New Roman', Times, serif;
    font-weight: 800 !important;
  }
  
}

.form-control {


  &-card {
    background-color: transparent !important;
    @extend .form-control;
    border: 1px solid black !important;
    border-radius: 15px !important;
    box-shadow: 2px 1px 2px 1px rgba(0, 0, 0, 0.3) !important;
    text-align: center;
  }
}


