$color1: #D9ED92;
$color2: #B5E48C;
$color3: #99D98C;
$color4: #76C893;
$color5: #52B69A;
$color6: #34A0A4;
$color7: #168AAD;
$color8: #1A759F;
$color9: #1E6091;
$color10: #184E77;

$fontFamilyBody: 'Titillium Web', sans-serif;